[submodule "src/bartlomiejmika/public"]
	path = src/bartlomiejmika/public
	url = git@github.com:bartmika/bartmika.github.io.git
[submodule "src/bartlomiejmika/themes/PaperMod"]
	path = src/bartlomiejmika/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
